<footer class="  form-control bg-dark fixed-bottom  "style="color:white">
  <p class="float-right "><a href="#"class="txt">Back to top</a></p>
  <p class="txt">&copy; 2017-2020 Company, Inc. &middot; <a href="https://www.riotgames.com/en/privacy-notice"class="txt">Privacy Notice</a> &middot; <a href="https://www.riotgames.com/en/terms-of-service" class="txt">Terms of Service</a></p>
</footer>
</html>